In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import urllib.parse

model = urllib.parse.quote(input("Car Model? "))
min_year = input("Minimum YoM? ")
pages = int(input("Pages to Extract? "))

df = pd.DataFrame(columns=['Year', 'Price', 'District', 'Mileage'])

for page in range(1, pages+1):
    url = f'https://ikman.lk/en/ads/sri-lanka/cars?sort=date&order=desc&buy_now=0&urgent=0&query={model}&page={page}&numeric.model_year.minimum={min_year}'
    
    page = requests.get(url)
        
    soup = BeautifulSoup(page.text, 'lxml')
    
    lists = soup.find('ul', class_='list--3NxGO')
    titles = lists.find_all('h2')
    prices = lists.find_all('div', class_='price--3SnqI color--t0tGX')
    districts = lists.find_all('div', class_='description--2-ez3')
    
    years_list = [title.get_text()[-4:] for title in titles]
    prices_list = [price.get_text() for price in prices]
    districts_list = [district.get_text().split(',')[0] for district in districts]
    
    mileages_list = []
    for mile in lists.find_all('div', class_='content--3JNQz'):
        title = mile.find('h2')
        title.decompose() if title else None
        district = mile.find('div', class_="description--2-ez3")
        district.decompose() if district else None
        price = mile.find('div', class_="price--3SnqI color--t0tGX")
        price.decompose() if price else None
        mileages_list.append(mile.get_text().strip().split(' km')[0])
    
    df = df.append(pd.DataFrame({'Year': years_list, 'Price': prices_list, 'District': districts_list, 'Mileage':mileages_list}), ignore_index=True)

print(df)

Car Model? vitz
Minimum YoM? 2015
Pages to Extract? 2
    Year         Price      District  Mileage
0   2016  Rs 5,890,000       Colombo   70,000
1   2015  Rs 6,100,000       Colombo   71,500
2   2019  Rs 7,800,000       Colombo   35,000
3   2015  Rs 5,800,000        Ampara   86,687
4   2018  Rs 7,475,000       Colombo   18,000
5   2016  Rs 5,790,000       Colombo   41,000
6   2018  Rs 7,450,000       Colombo   34,300
7   2017  Rs 6,350,000       Colombo   62,000
8   2015  Rs 5,460,000       Colombo   89,000
9   2017  Rs 7,200,000         Galle   96,000
10  2015  Rs 5,690,000    Kurunegala   59,172
11  2019  Rs 8,300,000    Batticaloa   10,358
12  2019  Rs 7,651,000       Colombo   64,000
13  2017  Rs 7,250,000       Gampaha   21,896
14  2018  Rs 6,890,000       Gampaha   46,000
15  2019  Rs 7,750,000       Colombo   43,000
16  2017  Rs 7,290,000       Colombo   54,099
17  2017  Rs 7,090,000       Colombo   44,533
18  2019  Rs 8,190,000       Colombo   48,257
19  2015  Rs 6,300,000        Jaffna   43,000
20  2018  Rs 7,150,000         Kandy   50,000
21  2018  Rs 7,290,000       Gampaha   31,000
22  2017  Rs 6,550,000     Ratnapura   69,000
23  2018  Rs 7,300,000       Gampaha   32,550
24  2018  Rs 7,200,000       Gampaha   56,000
25  2015  Rs 5,750,000      Kalutara   66,000
26  2016  Rs 6,425,000       Colombo   71,000
27  2016  Rs 5,890,000       Colombo   70,000
28  2018  Rs 6,790,000       Colombo   66,000
29  2015  Rs 5,700,000       Colombo   30,150
30  2017  Rs 7,590,000       Colombo   16,000
31  2018  Rs 7,250,000       Gampaha   32,000
32  2018  Rs 7,475,000       Colombo   14,000
33  2018  Rs 7,190,000       Colombo   54,000
34  2017  Rs 6,490,000       Colombo   59,000
35  2017  Rs 6,975,000    Kurunegala   38,000
36  2015  Rs 5,725,000    Kurunegala   57,000
37  2016  Rs 5,700,000       Colombo  100,100
38  2016  Rs 5,650,000    Kurunegala   53,000
39  2015  Rs 5,500,000         Kandy   70,000
40  2018  Rs 6,875,000      Kalutara   26,000
41  2017  Rs 6,825,000       Colombo   50,399
42  2019  Rs 8,550,000  Anuradhapura   44,427
43  2015  Rs 5,620,000         Kandy   55,000
44  2017  Rs 6,500,000       Colombo   22,730
45  2017  Rs 6,300,000    Kurunegala   38,000
46  2018  Rs 7,150,000       Gampaha   55,000
47  2016  Rs 5,950,000       Colombo   40,000
48  2018  Rs 7,500,000       Colombo   17,000
49  2016  Rs 5,690,000      Kalutara   72,000
50  2019  Rs 7,690,000       Colombo   30,000
51  2017  Rs 6,795,000       Colombo   58,000
52  2015  Rs 5,725,000       Colombo   56,612
53  2015  Rs 6,250,000        Matale   70,965